@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
}

ul{
  list-style: none;
}

a{
  color:inherit;
  text-decoration: none;
}

.container{
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header{
  padding: 30px 0;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner-menu{
  display: flex;
  align-items: center;
  gap:30px;
}
.menu__item-link{
  color:#383838;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 1;
  transition:opacity .3s ease;
}
.menu__item-link:hover{
  opacity: 0.5;
}
.menu__item-linkCart{
  position: relative;
}
.menu__link-spanCart{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  border-radius: 50%;
  background-color: #e20000;
  color:#fff;
  padding: 2px 10px;
  font-size: 14px;
  position: absolute;
  bottom: -5px;
  right: -5px;
}
.sectionTop{
  padding: 60px 0;
}
.sectionTop__top-info{
  margin-left: 200px;
  text-align: center;
  max-width: 330px;
}
.sectionTop__top{
  margin-bottom: 70px;
  padding: 90px 0 60px 0;
  background-image: url('/public//images/sectionTop/Frame\ 48.png');
}

.info__subtitle{
  font-size: 14px;
  font-weight: 400;
  color:#000;
  margin-bottom: 16px;
}
.info__title{
  font-size: 64px;
  font-weight: 500;
  color:#000;
  margin-bottom: 30px;
}
.info__link{
  font-size: 14px;
  color:#fff;
  font-weight: 500;
  padding: 15px 50px;
  background-color: #BE5B75;
  opacity: 1;
  transition:opacity .3s ease;
}
.info__link:hover{
  opacity: 0.5;
}
.sectionTop__bottom{
  padding: 55px 0;
  background-image: url('/public/images/sectionTop/Frame\ 49.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionTop__bottom-info{
  margin-left: 95px;
}
.bottom__info-title{
  font-size: 48px;
  font-weight: 700;
  color:#000;
  margin-bottom: 19px;
  text-transform: uppercase;
}
.bottom__info-link{
  background-color: #4D2952;
  padding: 15px 45px;
  color:#fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition:opacity .3s ease;
  opacity: 1;
}
.bottom__info-link:hover{
  opacity: 0.5;
}
.sectionTop__bottom-img{
  margin-right: 100px;
}
.sectionCollections{
  padding-bottom: 60px;
}
.sectionCollections__info{
  margin-bottom: 50px;
  text-align: center;
}
.sectionCollections__info-title{
  font-size: 30px;
  font-weight: 700;
  color:#000;
  text-transform: uppercase;
  margin-bottom: 11px;
}
.sectionCollections__info-subtitle{
  font-size: 15px;
  font-weight: 400;
  color:#000;
  margin-bottom: 30px;
}
.sectionCollections__info-link{
  font-size: 14px;
  font-weight: 700;
  padding: 15px 50px;
  color:#000;
  background-color: #fff;
  border:1px solid #898989;
  text-transform: uppercase;
  opacity: 1;
  transition:opacity .3s ease;
}
.sectionCollections__info-link:hover{
  opacity: 0.5;
}
.sectionCollections__collections{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:30px;
}
.sectionCollections__collections-item{
  text-align: center;
  padding: 140px 0 100px 0;
}
.womens-item{
  background-image: url('/public/images/sectionCollections/Frame\ 13.png');
}
.mens-item{
  background-image: url('/public/images/sectionCollections/Component\ 51.png');
}
.haircare-item{
  background-image: url('/public/images/sectionCollections/Component\ 28.png');
}
.skincare-item{
  background-image: url('/public/images/sectionCollections/Component\ 31.png');
}
.giftsets-item{
  background-image: url('/public/images/sectionCollections/Component\ 33.png');
}
.bestsellers-item{
  background-image: url('/public/images/sectionCollections/Component\ 32.png');
}
.collections__item-title{
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
  color:#fff;
  text-transform: uppercase;
}
.collections__item-link{
  color:#fff;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 400;
  transition:opacity .3s ease;
}
.collections__item-link:hover{
  opacity: 0.7;
}